.header {
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 80px;
color: whitesmoke;
}

.subHeader {
padding-top:20px;
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 30px;
color: whitesmoke;
}

.subTitle {
  padding-top:10px;
  padding-bottom:30px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: black;
}

.rows{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: space-around;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;

     padding: 20px;
}
.buttons {
  display: flex;
flex-direction: row;
align-content: space-evenly;
height: 100px;
width: 500px;
margin: auto;
}
.email{
  position: relative;
  text-align: center;
  display: inline-block;
  margin-left: 50%;
}

.button {
    margin: auto;
    background-color: #fff;
    border-color: transparent;
    color: #0a0a0a;
    font-size: 1.5rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 3rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap;
}

.picture {

  height:300px;
  width: 300px;
  padding-top: 20px;
}

.subTitle {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #8b8f96;

}

.myIntro {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  color: black;
  padding-top: 20px;
  margin-left: 50px;
  margin-right: 50px;

}
.list-item{
  border: solid black 1px;
  list-style-type: none;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  color: black;

}

.skill-table{
  position: relative;
  min-height: 1px;
  box-sizing: border-box;
  margin: 40px;
}
